In [215]:
import sys

In [220]:
class Hotel():
    def __init__(self,**menu):
        self.menu=menu
        self.total = 0
        self.flag = True
        self.order = {}
        self.bill = ''

    def take_order(self):
        try:
            while self.flag:
                a = input(f"oder from menu:{self.menu}")
                q = int(input(f'how many?'))
                self.order[a]=q
                self.total +=(self.menu[a]*q)
                f = input("do you wanna order anything")
                if f.lower()=='yes':
                    continue
                else:
                    break
        except:
            print(sys.exc_info())

    def print_b(self):
        print(f"{"item":^20}  {"quantity":^20} {"price":^20}\n")
        print(f"{'Hotel'*15}")
        for i in self.order:
            print(f"{i:^20}  {self.order[i]:^20} {self.menu[i]:^20}\n")
        print(f"{'Hotel'*15}")
        print(f"{'Total:':^20}  {'':^20} {self.total:^20}\n")

In [221]:
menu = {'idli':30,'vada':40,'tea':12,'biscuit':10,'waffers':5}

In [222]:
a = Hotel(**menu)

In [223]:
a.take_order()

In [224]:
a.order

{'idli': 3, 'vada': 3, 'tea': 3, 'biscuit': 4}

In [225]:
a.print_b()

        item                quantity              price

HotelHotelHotelHotelHotelHotelHotelHotelHotelHotelHotelHotelHotelHotelHotel
        idli                   3                    30

        vada                   3                    40

        tea                    3                    12

      biscuit                  4                    10

HotelHotelHotelHotelHotelHotelHotelHotelHotelHotelHotelHotelHotelHotelHotel
       Total:                                      286